/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-primary,
.btn-primary {
  background-color: $color-black;
  border-radius: 2px;
  border: none;
  color: $color-white;
  display: block;
  padding: 16px 24px;
  width: auto;
  transition: all .1s ease-out;
 
  &:hover {
    background-color: $color-white;
    color: $color-black;
  }
}