/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-primary,
.btn-primary {
  @extend %btn;
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: $color-secondary;
    color: $color-primary;
  }

  &.disabled,
  &:disabled {
    background-color: $color-secondary;
    color: $color-white;
    pointer-events: none;
  }
}