/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/secondary
 * -----------------------------------------------------------------------------
 */

%btn-secondary,
.btn-secondary {
  @extend %btn;
  background-color: $color-light-grey;
  color: $color-white;
  @include font-regular();
  
  &:hover {
    color: $color-primary;
  }
}