/**
 * -----------------------------------------------------------------------------
 * File: component/alerts
 * -----------------------------------------------------------------------------
 *
 */

.alert {
  @include font-size($fs-md);
  margin-bottom: $space-6x;
  max-width: 480px;

  &.alert--danger {
    color: $color-danger;
  }

  &.alert--success {
    color: $color-success;
  }
}

