/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-sm: (
  null: (14px,1.23),
  sm:   (14px,1.23),
  md:   (14px,1.23),
  lg:   (14px,1.23),
);

$fs-md: (
  null: (14px,1.23),
  sm:   (16px,1.23),
  md:   (18px,1.23),
  lg:   (18px,1.23),
);

$fs-form-sm: (
  null: (14px,1.23),
  sm:   (16px,1.23),
  md:   (16px,1.23),
  lg:   (17px,1.23),
);

$fs-form-md: (
  null: (16px,1.23),
  sm:   (17px,1.23),
  md:   (17px,1.23),
  lg:   (19px,1.23),
);

$fs-form-lg: (
  null: (20px,1.23),
  sm:   (24px,1.23),
  md:   (24px,1.23),
  lg:   (28px,1.23),
);


