/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/filter
 * -----------------------------------------------------------------------------
 */

nav.site-filter {

  > div {
    @extend %inner-block;
    background-color: $color-primary;
    color: $color-white;
    display: block;
    margin-bottom: $space-9x;
    padding-top: $space-4x;
    padding-bottom: $space-6x;
  }

  h2 {
    color: $color-white;
    @include font-size($fs-md);
    margin-bottom: $space-4x;
  }
}