/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:     #000000;
$color-white:     #ffffff;
$color-primary:   #194164;
$color-secondary: #c8d2dc;

// Notifications
$color-danger:  #FF0022;
$color-success: #548C2F;
$color-info:    #FFD166;

