/**
 * -----------------------------------------------------------------------------
 * File: components/utilities
 * -----------------------------------------------------------------------------
 */

.hide-sm {
	display: none;
	@include bp-md() {
		display: block;
	}
}

.hide-md {
	display: block;
	@include bp-md() {
		display: none;
	}
}

%line-after,
.line-after {
  position: relative;
  &:after {
    background-color: $color-light-grey;
    content: '';
    height: 100%;
    position: absolute;
    right: -8px;
    top: 0;
    width: 1px;
  }
}

%sm\:line-after,
.sm\:line-after {
  position: relative;

  @include bp-sm() {
    &:after {
      background-color: $color-light-grey;
      content: '';
      height: 100%;
      position: absolute;
      right: -8px;
      top: 0;
      width: 1px;
    }
  }

}

.w-full {
  width: 100%;
}

.\!w-full {
  width: 100% !important;
}

.max-w-lg {
  max-width: 768px;
}