/**
 * -----------------------------------------------------------------------------
 * File: views/form
 * -----------------------------------------------------------------------------
 */

.application-form {
  @include font-size($fs-form-sm);
    
  h1, 
  h2 {
    @include font-size($fs-form-md);
  }

  h3 {
    @include font-size($fs-form-sm);
  }

  input[type=text],
  input[type=number],
  input[type=email],
  textarea {
    min-height: 30px;
    padding: 4px;
  }

  select {
    min-height: 30px;
    padding: 4px;
  }

  .btn-upload,
  .btn-submit {
    @include font-size($fs-form-sm);
    align-items: center;
    display: flex;
    height: auto;
    min-height: 30px;
    line-height: 1 !important;
    padding: 4px !important;
  }

  .application-row__form {
    > div {
      padding-top: $space-2x;
    }
  }

  &__header {
    @extend %site-header;
    color: $color-white;
    height: 130px;

    > div {
      max-width: $form-max-width;
      justify-content: center;
    }
  }

  &__content {
    @extend %site;
    > div {
      max-width: $form-max-width;
    }
  }

  &__grid {
    @extend %grid-cols-12;
    
    > p,
    > h2,
    > h3,
    > div {
      @extend %span-12;
    }
    
    h2:not(:first-of-type) {
      margin-top: $space-6x;
      @include bp-md() {
        margin-top: $space-12x;
      }
    }

    h3 {
      @include font-bold();
    }

    textarea {
      min-height: 240px;
    }

    input:read-only {
      background-color: $color-light;
    }
  }

  &__success {
    color: $color-success !important;
  }
}
